<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index - Demo Thymeleaf</title>
</head>
<body>

<h3 class="card-title" th:text="${nbCustomer}"></h3>

</body>
</html>