
<footer class="footer" th:fragment="footer">
    <div>
        420-4W6-VL :
        TECHNOLOGIE WEB CLIENT
        &copy;
        <script>
            document.write(new Date().getFullYear())
        </script>
    </div>
</footer>