<div th:fragment="top-nav">
    <ul class="nav">
        <li class="nav-item active  ">
            <a class="nav-link" th:href="@{/}">

                Tableau de bord
            </a>
        </li>
        <li class="nav-item active  ">
            <a class="nav-link" th:href="@{/actor}">
                Acteurs
            </a>
        </li>
        <li class="nav-item active  ">
            <a class="nav-link" th:href="@{/customer}">

                Clients
            </a>
        </li>
        <li class="nav-item active  ">
            <a class="nav-link" th:href="@{/city}">

                Villes
            </a>
        </li>
        <li class="nav-item active  ">
            <a class="nav-link" th:href="@{/staff}">
                Staff
            </a>
        </li>
    </ul>
</div>