table, th, td {
    border: 1px solid black;
}

tr:hover {background-color:#ffff99;}

tr:nth-child(even) {background-color: #f2f2f2;
}

.footer {
    margin-top: 50px;
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}

