<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo Thymeleaf - Customer</title>
    <link th:href="@{/css/style1.css}" rel="stylesheet" />





</head>
<body>
<!-- Header -->
<div th:replace="fragments/header::top-nav"></div>

<!-- Content -->

<h1 > Nombre de customers : <span th:text="${customerCount}" ></span> </h1>

<form method="post" th:action="@{/customer/do_search_name}" th:object="${searchNames}">
    <input required type="text" th:field="*{firstname}" th:value="${searchNames.getFirstname()}" placeholder="Rechercher un customer"/>
    <button type="submit">ok</button>
</form>

<table class="table table-hover">
    <thead class="text-warning">
    <th>Nom</th>
    <th>Prenom(s)</th>
    <th>Email</th>
    <th>Ville</th>
    <th>Pays</th>
    <th>Detail</th>
    </thead>
    <tbody>
    <tr th:each="customer:${allCustomer}">
        <td th:text="${customer.lastName}"></td>
        <td th:text="${customer.firstName}"></td>
        <td th:text="${customer.email}"></td>
        <td th:text="${customer.address.cityId.city}"></td>
        <td th:text="${customer.address.cityId.country.country}"></td>
        <td><a th:href="${'/customer/'+customer.customerId}" >Detail</a></td>
        </td>
    </tr>
    </tbody>
</table>

<!-- Footer -->
<footer th:replace="fragments/footer::footer"></footer>



</body>
</html>