<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Details</title>
    <link th:href="@{/css/style1.css}" rel="stylesheet" />
</head>
<body>
<!-- Header -->
<div th:replace="fragments/header::top-nav"></div>

<H1>Détail de : <span th:text="${customer.getCustomerId()}"></span></H1>
<p>Prénom: <span th:text="${customer.lastName}"></span></p>
<p>Nom: <span th:text="${customer.firstName}"></span></p>
<p>Email: <span th:text="${customer.email}"></span></p>
<p>Addresse: <span th:text="${customer.getAddress().getAddress()}"></span></p>
<p>Ville: <span th:text="${customer.getAddress().getCityId().getCity()}"></span></p>
<p>Pays: <span th:text="${customer.getAddress().getCityId().getCountry().country}"></span></p>


<!-- Footer -->
<footer th:replace="fragments/footer::footer"></footer>

</body>
</html>