<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Actor - Demo Thymeleaf</title>
</head>
<body>
<table class="table table-hover">
    <thead class="text-warning">
    <th>Nom</th>
    <th>Prenom(s)</th>
    <th>LastUpdated</th>
    </thead>
    <tbody>
    <tr th:each="actor:${allActor}">
        <td th:text="${actor.firstName}"></td>
        <td th:text="${actor.lastName}"></td>
        <td th:text="${actor.lastUpdate}"></td>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>